.productContainer{
    display:flex;
    flex-direction: column;
    position: relative;
}
.productContainer{
    display: flex;
    gap: 50px;
}
.productText{
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    color: white;
}



.productImage{
    margin: 10px;
}

